/*Background colors
#064a69
#58b6e2
#FFC600
#white
*/
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*fonts are Bowlby One SC and Inter*/

#content div {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav a {
    text-align: center;
    color: #FFC600;
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Anton', 'Oswald', 'Rubik', sans-serif;
    padding: 35px;
}

.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

body {
    background-color: white;
    font-size: 22px;
    font-family: 'Inter', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #064a69;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #064a69;
    color:white;
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Anton', 'Oswald', 'Rubik', sans-serif;
}
.book, .join {
    background-color: #FFC600;
    color:#064a69;
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Anton', 'Oswald', 'Rubik', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
}
.book:hover, .join:hover {
    background-color: #FFC600;
    color: #0396da;
    text-decoration: none;
    font-family: 'Bowlby One SC', 'Anton', 'Oswald', 'Rubik', sans-serif;
}

footer {
    background-color: #064a69;
    color:#58b6e2;
    font-family: 'Inter', 'Roboto', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: #064a69;
    font-family: 'Bowlby One SC', 'Anton', 'Oswald', 'Rubik', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #064a69;
    font-family: 'Inter', 'Roboto', sans-serif;
}
h2 {
    font-family: 'Bowlby One SC', 'Anton', 'Oswald', 'Rubik', sans-serif;
    margin: 0; 
}
.msg h2 {
    color: #ffffff;
    font-family: 'Inter', 'Roboto', sans-serif;
}
.msg p {
    color: rgb(255, 255, 255);
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', 'Roboto', sans-serif;
}
footer a:hover {
    color: #58b6e2;
    text-decoration: none;
    font-family: 'Inter', 'Roboto', sans-serif;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
    padding: 1%;
}
footer p a:hover {
    text-decoration: underline;
}    
#logo_link {  
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
#hero {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, h4 {
    color: white;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}
.card-img, .mountains {
    width: 100%;
}
/*.rivers-card from column lines 2–4 and row lines 2–3

.camping-card from column lines 5–7 and row lines 2–3

.rapids-card from column lines 8–10 and row lines 2–3

#background from column lines 1–11 and row lines 4–9

.mountains from column lines 2–7 and row lines 5–8

.msg from column lines 6–10 and row lines 6–7
*/
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    width: 100%;
    background-color: #58b6e2;
    color: #0396da;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #064a69;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;    
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}